h1{
  border-width:2px;
  border-style:solid;
  border-color:#0000ff;
}
h2{
border-width: 5px;
border-style: dashed;
border-color: #1DB9C3;

}
h3{
    border-width: 10px;
    border-style: dotted;
    border-color: #7027A0;
}

.titulosecundario{
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
border-top-width: 2px;
border-bottom-width: 2px;
border-right-width: 0px;
border-left-width: 0px;

border-bottom-style: dashed;
border-top-style: dashed;
border-left-style: dotted;
border-right-style: dotted;

border-top-color: #0000ff;
border-bottom-color: #0000ff;
border-left-color: #7027A0;
border-right-color: #7027A0;


}

.padding{
    color: black;
    background-color: #0000ff;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;



}

.hi1{
margin: 5px;
}