h1{
  border-width:2px;
  border-style:solid;
  border-color:#0000ff;
}
h2{
border-width: 5px;
border-style: dashed;
border-color: #1DB9C3;

}
h3{
    border-width: 10px;
    border-style: dotted;
    border-color: #7027A0;
}